# 包含所有必要的文件
include README.md
include DEPLOYMENT.md
include requirements.txt
include setup.py
include gesture_model.pkl
include *.md
recursive-include training_data *.npy
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

